body.active-modal {
    overflow-y: hidden;
}


.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 4px;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 170px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.modal h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #008594;
}

.btns {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border: none;
    background: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #174348;
}